@tailwind base;
@tailwind components;
@tailwind utilities;


.gamegrid{
    height: 640px;
    width: 640px;
    
}
.gamegrid div{
    height: 80px;
    width: 80px;
    background-size: 80px 80px;
    background-repeat: no-repeat;
   
    
}
